<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>BinanceApi</title>
    <link rel='stylesheet' href='/css/a.css' />
  </head>
  <body>
    <div class="wrap">
      <h1><%= coin %> 구매 내역</h1>
      <p>
        <ul>
          <% for (var h in trades) { %>
          <li><%= trades[h] %></li>
          <% } %>
        </ul>
      </p>
      <p><a href="/" class="btn color-black">구매 페이지</a></p>
    </div>
  </body>
</html>
