body {
  overflow-x: hidden;
  width: 100%;
  font: 14px;
}
ul {margin: 0;padding: 0}
li {margin-top: 0.5em}

.wrap {
  padding: 1.5em;
}

.btn {
  line-height: 320%;
  border:1px solid #0a3c59;
  padding:10.5px 21px;
  border-radius:6px;
  text-decoration: none;
  vertical-align: middle;
  border:0px;
  cursor:pointer;
  margin:0 1em 0 0;
}

.color-black {background-color:black;color:white;}
.color-gray {background-color:#f1f1f1;color:black;}
.color-yellow {background-color:#ffd152;color:black;}
.text-red {color:red}
